# 游빍 Ejercicio de An치lisis de Datos con el Dataset del Titanic
En este ejercicio, utilizar치s `pandas`, `matplotlib`, `sqlite3`, y `openpyxl` para explorar y visualizar datos.

## 游늶 Instrucciones
1. Carga un subconjunto del dataset del Titanic.
2. Guarda el dataset como `.xlsx`.
3. C치rgalo desde una base de datos SQLite.
4. Realiza un an치lisis descriptivo con pandas.
5. Visualiza los datos con matplotlib.

> **Objetivo**: Identificar relaciones entre caracter칤sticas como edad, clase y supervivencia.

In [ ]:
# Importar librer칤as necesarias
import pandas as pd
import sqlite3
from io import StringIO
import matplotlib.pyplot as plt

## 游댳 Paso 1: Cargar un subconjunto del dataset Titanic

In [ ]:
# Simulamos una peque침a parte del dataset del Titanic
titanic_data = '''Nombre,Edad,Genero,Clase,Superviviente
Allen,29,female,1,1
Braund,22,male,3,0
Cumings,38,female,1,1
Heikkinen,26,female,3,1
Futrelle,35,female,1,0
Moran,,male,3,0
Nasser,21,female,1,1'''

df_titanic = pd.read_csv(StringIO(titanic_data))
df_titanic

## 游댳 Paso 2: Guardar y leer como archivo Excel

In [ ]:
# Guardamos el DataFrame en formato Excel
df_titanic.to_excel("/mnt/data/titanic_pequeno.xlsx", index=False)

# Lo leemos de nuevo para validar que se guard칩 correctamente
df_excel = pd.read_excel("/mnt/data/titanic_pequeno.xlsx")
df_excel

## 游댳 Paso 3: Guardar y leer desde una base de datos SQLite

In [ ]:
# Conexi칩n a base de datos SQLite en memoria
conn = sqlite3.connect(":memory:")

# Guardamos el DataFrame en la base de datos
df_excel.to_sql("titanic", conn, index=False, if_exists="replace")

# Leemos los datos desde la tabla usando SQL
df_sql = pd.read_sql("SELECT * FROM titanic", conn)
df_sql

## 游댳 Paso 4: An치lisis con pandas

In [ ]:
# Promedio de edad por clase
df_sql.groupby("Clase")["Edad"].mean()

In [ ]:
# Conteo de sobrevivientes por g칠nero
df_sql.groupby("Genero")["Superviviente"].sum()

## 游댳 Paso 5: Visualizaci칩n con matplotlib

In [ ]:
# Histograma de edades
plt.figure(figsize=(8,5))
df_sql["Edad"].dropna().plot(kind='hist', bins=5, color='skyblue', edgecolor='black')
plt.title("Distribuci칩n de Edad de Pasajeros")
plt.xlabel("Edad")
plt.grid(True)
plt.tight_layout()
plt.show()

In [ ]:
# Gr치fico de barras de sobrevivientes por clase
sobrevivientes_clase = df_sql.groupby("Clase")["Superviviente"].sum()

plt.figure(figsize=(8,5))
sobrevivientes_clase.plot(kind='bar', color='green', edgecolor='black')
plt.title("Sobrevivientes por Clase")
plt.xlabel("Clase")
plt.ylabel("Cantidad de Sobrevivientes")
plt.grid(True, axis='y')
plt.tight_layout()
plt.show()